<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Exception</title>
</head>
<body>
    <span th:text="'Exception:' + ${exception.message}">Error occurred </span>
    <a href="/">back</a>
</body>
</html>