<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
</head>
<body>
<table>
    <thead>
    <th>Id</th>
    <th>Title</th>
    <th>Date</th>
    <th>Price</th>
    </thead>
    <tr th:each="event: ${eventsPage.content}">
        <td th:text="${event.id}">Id</td>
        <td th:text="${event.title}">Title</td>
        <td th:text="${#dates.format(event.date, 'dd-MM-yyyy HH:mm')}">Date</td>
        <td th:text="${event.price}">Price</td>
    </tr>
</table>
<a href="/event/actions">back</a>
</body>
</html>