<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tickets</title>
</head>
<body>
<table>
    <thead>
    <th>Id</th>
    <th>Event id</th>
    <th>User id</th>
    <th>Ticket category</th>
    <th>Place</th>
    <th>Price</th>
    </thead>
    <tr th:each="ticket: ${ticketsPage.content}">
        <td th:text="${ticket.id} ">Id</td>
        <td th:text="${ticket.event.id}">Event Id</td>
        <td th:text="${ticket.user.id}">User Id</td>
        <td th:text="${ticket.ticketCategory}">Ticket Category</td>
        <td th:text="${ticket.place}">Place</td>
        <td th:text="${ticket.pricet}">Price</td>
    </tr>
</table>

<a href="/ticket/actions">back</a>
</body>
</html>